@mixin flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    @include flexbox();
    background-color: black;

    img{
        width: 10%;
        margin: 1% 5%;
    }

    div{
        margin: 0% 5%;
        width: 14vw;
        @include flexbox();
    }

    .vermelho{
        background-color: #DF0712;
        width: 7vw;
        padding: 5% 0%;
        color: #FFFFFF;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        border: none;
        border-radius: 5%;
    }

    .preto{
        background-color: #181818;
        color: #FFFFFF;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        width: 5vw;
        padding: 4% 0%;
        border: solid 1px #FFFCFC;
        border-radius: 10%;
    }
}

body{
    background-color: #181818
}

.primeiraSessao{
    @include flexbox();
    margin: 0% 10%;
    margin-top: 5%;
    margin-bottom: 2%;

    div{
        @include flexbox();
        flex-direction: column;
        align-items: flex-start;
    }

    h1{
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        color: #FFFFFF;
        font-weight: 700;
    }

    h2{
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        color: #FFFFFF;
        font-weight: 300;
    }

    img{
        width: 5%;
    }
}

.segundaSessao{
    @include flexbox();
    margin-left: 10%;

    div{
        @include flexbox();
        flex-direction: column;
        align-items: flex-start;
    }

    h1{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #FFFFFF;
        width: 15vw;
        margin-top: 3%;
    }

    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        width: 19vw;
        color: #FFFFFF;
        margin-top: 3%;
    }

    img{
        width: 70%;
    }
}

footer{
    @include flexbox();
    margin-top: 4%;
    background-color: black;

    ul{
        @include flexbox();
        width: 30vw;
        list-style: none;
        font-family: "Inter", sans-serif;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 700;
        margin: 5% 10%;
    }
}